flow.json
[{"id":"4cce2b4f.e09784","type":"tab","label":"lab5_1","disabled":true,"info":""},{"id":"41d93bf2.3059a4","type":"tab","label":"lab5_2","disabled":false,"info":""},{"id":"31f31a07.3773d6","type":"tab","label":"IO","disabled":false,"info":""},{"id":"aec5d72d.26f398","type":"modbustcp-server","z":"","name":"PLC1SIM","host":"127.0.0.1","port":"502","unit_id":"1","reconnecttimeout":"10"},{"id":"c022db7a.a3a618","type":"ui_tab","z":"","name":"Test","icon":"dashboard","disabled":false,"hidden":false},{"id":"d8b3993.59c4568","type":"ui_group","z":"","name":"MB_TCP","tab":"c022db7a.a3a618","order":1,"disp":true,"width":"6","collapse":false},{"id":"bdd2827f.d3f7b","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"b1a9c29b.9260b","type":"ui_tab","z":"","name":"RAW","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"ef6f23c6.395b4","type":"ui_group","z":"","name":"Імітовані сигнали","tab":"b1a9c29b.9260b","order":1,"disp":true,"width":"27","collapse":false},{"id":"dc4f4b05.36bab8","type":"ui_tab","z":"","name":"TagEdit","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"aa96a133.c30a","type":"ui_group","z":"","name":"Select","tab":"dc4f4b05.36bab8","order":1,"disp":true,"width":"6","collapse":false},{"id":"705e8c0d.9e5c64","type":"ui_group","z":"","name":"State","tab":"dc4f4b05.36bab8","order":2,"disp":true,"width":"8","collapse":false},{"id":"66818d79.2d18e4","type":"ui_group","z":"","name":"Config","tab":"dc4f4b05.36bab8","order":4,"disp":true,"width":"4","collapse":false},{"id":"967f6b01.aa4298","type":"ui_group","z":"","name":"Alarms","tab":"dc4f4b05.36bab8","order":4,"disp":true,"width":"6","collapse":false},{"id":"2f06d7c0.c18c58","type":"ui_group","z":"","name":"Trend","tab":"dc4f4b05.36bab8","order":2,"disp":true,"width":"6","collapse":false},{"id":"b97fd000.52e04","type":"ui_link","z":"","name":"Link 3","link":"test/index.html","icon":"open_in_browser","target":"thistab","order":3},{"id":"aaee6479.836338","type":"ui_tab","z":"","name":"Загальна","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"9f9f0f18.7dc5f","type":"ui_group","name":"Group 1","tab":"aaee6479.836338","order":1,"disp":true,"width":6},{"id":"7d36bd43.cb2314","type":"modbustcp-read","z":"4cce2b4f.e09784","name":"","topic":"","dataType":"HoldingRegister","adr":"0","quantity":"10","rate":"5","rateUnit":"s","server":"aec5d72d.26f398","ieeeType":"off","ieeeBE":true,"x":200,"y":160,"wires":[["648efa1.4d41304","39f8ad28.36d4e2","d7158243.b02e6"]]},{"id":"648efa1.4d41304","type":"debug","z":"4cce2b4f.e09784","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":510,"y":120,"wires":[]},{"id":"6ef4428a.4355cc","type":"comment","z":"4cce2b4f.e09784","name":"2(5).2","info":"","x":220,"y":120,"wires":[]},{"id":"2d332f4f.b5196","type":"comment","z":"4cce2b4f.e09784","name":"2(5).3","info":"","x":410,"y":180,"wires":[]},{"id":"39f8ad28.36d4e2","type":"change","z":"4cce2b4f.e09784","name":"Визначити температуру","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[0]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":220,"wires":[["d25b3aa.48ee8c8"]]},{"id":"d25b3aa.48ee8c8","type":"ui_gauge","z":"4cce2b4f.e09784","name":"","group":"d8b3993.59c4568","order":0,"width":0,"height":0,"gtype":"wave","title":"Температура","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":710,"y":220,"wires":[]},{"id":"d7158243.b02e6","type":"change","z":"4cce2b4f.e09784","name":"Визначити рівень","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[1]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":260,"wires":[["bd7f0f0e.59562"]]},{"id":"bd7f0f0e.59562","type":"ui_gauge","z":"4cce2b4f.e09784","name":"","group":"d8b3993.59c4568","order":0,"width":0,"height":0,"gtype":"wave","title":"Рівень","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":680,"y":260,"wires":[]},{"id":"5eed0180.b9153","type":"modbustcp-read","z":"4cce2b4f.e09784","name":"","topic":"","dataType":"HoldingRegister","adr":"10","quantity":"20","rate":"5","rateUnit":"s","server":"aec5d72d.26f398","ieeeType":"single","ieeeBE":"false","x":410,"y":300,"wires":[["4c00252f.457a6c"]]},{"id":"4c00252f.457a6c","type":"debug","z":"4cce2b4f.e09784","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":630,"y":300,"wires":[]},{"id":"fbd946df.9b5e88","type":"comment","z":"4cce2b4f.e09784","name":"2(5).4","info":"","x":270,"y":360,"wires":[]},{"id":"f9351e19.771c7","type":"ui_slider","z":"4cce2b4f.e09784","name":"","label":"Задана температура","tooltip":"","group":"d8b3993.59c4568","order":2,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":10,"step":1,"x":230,"y":400,"wires":[["c311780d.721268","24b00cbf.153694"]]},{"id":"c311780d.721268","type":"debug","z":"4cce2b4f.e09784","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":530,"y":380,"wires":[]},{"id":"e32ddd4b.4d5f5","type":"modbustcp-write","z":"4cce2b4f.e09784","name":"","topic":"","dataType":"HoldingRegisters","adr":"30","server":"aec5d72d.26f398","x":610,"y":440,"wires":[]},{"id":"24b00cbf.153694","type":"function","z":"4cce2b4f.e09784","name":"INT to ARINT","func":"msg.payload = [msg.payload];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":450,"y":440,"wires":[["e32ddd4b.4d5f5"]]},{"id":"ddff35d1.3e8918","type":"inject","z":"41d93bf2.3059a4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":260,"wires":[["6025b845.2b2158"]]},{"id":"6025b845.2b2158","type":"function","z":"41d93bf2.3059a4","name":"simul","func":"let delta = Math.PI / 10;\nlet ramp = context.get(\"ramp\") || 0.0;\nramp = (ramp > 2 * Math.PI) ? 0 : ramp + delta;\nlet vals = [];\nfor (let i = 0; i < 5; i++) {\n    vals[i] = ramp + delta * i;\n    vals[i + 5] = Math.sin(vals[i]);\n}\nmsg.payload = vals;\nlet msg1 = {\n    \"topic\": \"ramp\",\n    \"payload\": ramp\n};\ncontext.set(\"ramp\", ramp);\nreturn [msg, msg1];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":310,"y":260,"wires":[["240534af.87966c"],["240534af.87966c"]]},{"id":"45cfdbf0.e44144","type":"debug","z":"41d93bf2.3059a4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":850,"y":240,"wires":[]},{"id":"a2ce350e.a5ba78","type":"split","z":"41d93bf2.3059a4","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":595,"y":260,"wires":[["b822c2be.8e9d1"]],"l":false},{"id":"b822c2be.8e9d1","type":"change","z":"41d93bf2.3059a4","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"'var'&msg.parts.index","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":655,"y":260,"wires":[["bc5cf0ec.23af3","45cfdbf0.e44144"]],"l":false},{"id":"9136c318.233d3","type":"ui_template","z":"41d93bf2.3059a4","group":"ef6f23c6.395b4","name":"","order":1,"width":0,"height":0,"format":"<table bordercolor=\"black\" border>\n<thead>\n<tr><th>№</th><th>smVal</th></tr></thead>\n<tbody>\n<tr><td>1</td><td>{{msg.payload[0] | number:2}}</td>\n</tr><tr><td>2</td><td>{{msg.payload[1] | number:2}}</td></tr>\n<tr><td>3</td><td>{{msg.payload[2] | number:2}}</td></tr>\n<tr><td>4</td><td>{{msg.payload[3] | number:2}}</td></tr>\n<tr><td>5</td><td>{{msg.payload[4] | number:2}}</td></tr>\n</tbody>\n</table>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":640,"y":213,"wires":[[]]},{"id":"66c12aa0.43be04","type":"inject","z":"41d93bf2.3059a4","name":"false","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":80,"wires":[["fc44ab1d.7e61c8"]]},{"id":"fc44ab1d.7e61c8","type":"ui_switch","z":"41d93bf2.3059a4","name":"","label":"sm On","tooltip":"","group":"ef6f23c6.395b4","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":320,"y":80,"wires":[["11cbdd3.bff5523","724c7d1e.b5de74"]]},{"id":"11cbdd3.bff5523","type":"change","z":"41d93bf2.3059a4","name":"","rules":[{"t":"set","p":"smon","pt":"flow","to":"msg.payload or false","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":80,"wires":[[]]},{"id":"724c7d1e.b5de74","type":"debug","z":"41d93bf2.3059a4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":480,"y":120,"wires":[]},{"id":"240534af.87966c","type":"switch","z":"41d93bf2.3059a4","name":"","property":"smon","propertyType":"flow","rules":[{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":470,"y":260,"wires":[["9136c318.233d3","a2ce350e.a5ba78","bc5cf0ec.23af3"]]},{"id":"bc5cf0ec.23af3","type":"function","z":"41d93bf2.3059a4","name":"tags","func":"let tag1 = global.get(`RTDB.tags.${msg.topic}`) || \n{\n    name: msg.topic,\n    description: msg.topic,\n    radr: '',\n    val: 0.0,\n    rval: 0, //сире та дійсне значення\n    ts: Date(), //відмітка часу\n    alm: {\n        lolo: false,\n        lo: false,\n        hi: false,\n        hihi: false\n    },\n    cfg: { //конфігураційні дані\n        rmin: 0,\n        rmax: 10,\n        smin: 0,\n        smax: 100,\n        lolosp: 0,\n        losp: 10,\n        hisp: 80,\n        hihisp: 95,\n        loloen: true,\n        loen: true,\n        hien: true,\n        hihien: true,\n        radr: `PLC1_HR${msg.parts.index}`\n    },\n    his: [], //дані за останні виміри\n} ;\n\n//---- присвоєння методів, якщо їх немає\ntag1.scaling = tag1.scaling || scaling;\ntag1.alarms = tag1.alarms || alarms;\ntag1.proc = tag1.proc || proc;\ntag1.createrecord = tag1.createrecord || createrecord;\n//---------------------------------\n\ntag1.proc(msg.payload); // загальна обробка тегу\n\nglobal.set(`RTDB.tags.${msg.topic}`, tag1);\n\nconst tags = global.get(\"RTDB.tags\") || {};\nmsg.tag = tags;\nreturn msg;\n\n//------------------- реалізація методів\nfunction scaling(raw = this.rval) { //масштабування\n        let dr = this.cfg.rmax - this.cfg.rmin,\n            ds = this.cfg.smax - this.cfg.smin;\n        this.val = raw * ds / dr + this.cfg.smin;\n        this.rval = raw;\n        this.ts = Date();\n    }\nfunction alarms() {\n        this.alm.lolo = false;\n        this.alm.lo = false;\n        this.alm.hi = false;\n        this.alm.hihi = false;\n        \n        if (this.val < this.cfg.lolosp && this.cfg.loloen) {\n            this.alm.lolo = true;\n        } else {\n            if (this.val < this.cfg.losp && this.cfg.loen) {\n            this.alm.lo = true;\n            }\n        }\n        \n        if (this.val > this.cfg.hihisp && this.cfg.hihien) {\n            this.alm.hihi = true;\n        } else {\n            if (this.val > this.cfg.hisp && this.cfg.hien) {\n            this.alm.hi = true;\n            }\n        }\n    }\nfunction proc(raw = this.rval) { //методу proc\n        this.scaling(raw);\n        this.alarms();\n        this.createrecord();\n    }\nfunction createrecord() {\n        this.his.push({\n            \"ts\": this.ts.toLocaleString(),\n            \"val\": this.val\n        });\n        if (this.his.length > 60) {\n            this.his.shift(); //вилучаємо перший (найстаріший) елемент\n            this.his.length = 60; //обмежити кількість елементів\n        }\n    }","outputs":1,"noerr":0,"initialize":"","finalize":"","x":770,"y":320,"wires":[["b988f84f.6a2bd8"]]},{"id":"272a8be7.394754","type":"inject","z":"41d93bf2.3059a4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":440,"wires":[["e30936f1.1af758","3f1f88e7.8eff38"]]},{"id":"e30936f1.1af758","type":"change","z":"41d93bf2.3059a4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$globalContext(\"RTDB.tags\").*.{\"tagname\":name,\"rval\":rval}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":440,"wires":[["75319412.cb735c"]]},{"id":"75319412.cb735c","type":"template","z":"41d93bf2.3059a4","name":"","field":"template","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<table bordercolor=\"black\" border>\n<thead>\n<tr><th>Tag</th><th>rval</th></tr></thead>\n<tbody>\n{{#payload}}\n<tr><td >{{tagname}}</td><td >{{rval}} </td>\n{{/payload}}\n</tbody>\n</table>","output":"str","x":560,"y":440,"wires":[["d9d9e3bb.2664"]]},{"id":"3f1f88e7.8eff38","type":"change","z":"41d93bf2.3059a4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$globalContext(\"RTDB.tags\").*.\t{\"tagname\": name,\t\"rval\": $formatNumber(rval, \"#0.00\"),\t\"val\": $formatNumber(val, \"#0.00\"),\t\"ts\": ts,\t\"description\": description,\t\"alm\": alm.$string(),\t\"cfg\": cfg.$string()\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":520,"wires":[["9d174336.e6e36"]]},{"id":"9d174336.e6e36","type":"template","z":"41d93bf2.3059a4","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<table bordercolor=\"black\" border>\n<thead><tr>\n<th>Tag</th>\n<th>Description</th>\n<th>rval</th>\n<th>val</th>\n<th>ts</th>\n<th>alm</th>\n<th>cfg</th>\n</tr></thead>\n<tbody>\n{{#payload}}\n<tr>\n<td >{{tagname}}</td>\n<td >{{Description}} </td>\n<td >{{rval}} </td>\n<td >{{val}} </td>\n<td >{{ts}} </td>\n<td >{{alm}} </td>\n<td >{{cfg}} </td>\n{{/payload}}\n</tbody>\n</table>","output":"str","x":560,"y":520,"wires":[["994ebc76.f2fe4"]]},{"id":"994ebc76.f2fe4","type":"ui_template","z":"41d93bf2.3059a4","group":"ef6f23c6.395b4","name":"","order":2,"width":0,"height":0,"format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":730,"y":520,"wires":[[]]},{"id":"d9d9e3bb.2664","type":"ui_template","z":"41d93bf2.3059a4","group":"ef6f23c6.395b4","name":"","order":2,"width":0,"height":0,"format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":720,"y":440,"wires":[[]]},{"id":"dbc8a927.5aa9b8","type":"ui_ui_control","z":"41d93bf2.3059a4","name":"","events":"all","x":190,"y":620,"wires":[["3c3a9c69.015a14","e7a7c610.fc0588"]]},{"id":"d3ecfb33.885448","type":"ui_text","z":"41d93bf2.3059a4","group":"aa96a133.c30a","order":4,"width":0,"height":0,"name":"","label":"Кількість тегів","format":"{{msg.payload}}","layout":"row-spread","x":570,"y":620,"wires":[]},{"id":"3c3a9c69.015a14","type":"change","z":"41d93bf2.3059a4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$count($globalContext(\"RTDB.tags\").*)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":620,"wires":[["d3ecfb33.885448"]]},{"id":"e7a7c610.fc0588","type":"change","z":"41d93bf2.3059a4","name":"","rules":[{"t":"set","p":"options","pt":"msg","to":"$globalContext(\"RTDB.tags\").*.{`name`&\":\"&`description`:name}","tot":"jsonata"},{"t":"set","p":"payload","pt":"msg","to":"$globalContext(\"RTDB.tags\").*[0].name","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":700,"wires":[["3ddca051.3e5d1"]]},{"id":"3ddca051.3e5d1","type":"ui_dropdown","z":"41d93bf2.3059a4","name":"","label":"","tooltip":"","place":"Select option","group":"aa96a133.c30a","order":1,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":570,"y":700,"wires":[["a7dfc8d0.e51e58","6a2335f6.a59e8c","eb07db09.6d9d78","614ef3d.b0e970c"]]},{"id":"a7dfc8d0.e51e58","type":"change","z":"41d93bf2.3059a4","name":"","rules":[{"t":"set","p":"seltag","pt":"flow","to":"msg.payload","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":700,"wires":[["1109f06e.85a6a"]]},{"id":"6a2335f6.a59e8c","type":"change","z":"41d93bf2.3059a4","name":"Вибір тегу","rules":[{"t":"set","p":"payload","pt":"msg","to":"$globalContext(\"RTDB.tags.\" & payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":780,"wires":[["4de18e23.25a06","ec6e3961.206478","933583b0.3a3ac","6adc58a3.3ef028","d20a8a57.f450d8","a8dcf5f7.a3deb8","800ca25.a244a6","2a841751.89a4e8"]]},{"id":"4de18e23.25a06","type":"ui_text","z":"41d93bf2.3059a4","group":"705e8c0d.9e5c64","order":0,"width":0,"height":0,"name":"","label":"Опис","format":"{{msg.payload.description}}","layout":"row-spread","x":850,"y":780,"wires":[]},{"id":"1109f06e.85a6a","type":"ui_text","z":"41d93bf2.3059a4","group":"aa96a133.c30a","order":2,"width":0,"height":0,"name":"","label":"Вибраний тег","format":"{{msg.payload}}","layout":"row-spread","x":940,"y":700,"wires":[]},{"id":"ec6e3961.206478","type":"ui_text","z":"41d93bf2.3059a4","group":"705e8c0d.9e5c64","order":0,"width":0,"height":0,"name":"","label":"Сире значення","format":"{{msg.payload.rval | number:2}}","layout":"row-spread","x":880,"y":820,"wires":[]},{"id":"a8bd20ac.0c713","type":"debug","z":"41d93bf2.3059a4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1530,"y":860,"wires":[]},{"id":"933583b0.3a3ac","type":"ui_text","z":"41d93bf2.3059a4","group":"705e8c0d.9e5c64","order":0,"width":0,"height":0,"name":"","label":"Масштабоване значення","format":"{{msg.payload.val | number:2}}","layout":"row-spread","x":910,"y":860,"wires":[]},{"id":"6adc58a3.3ef028","type":"ui_text","z":"41d93bf2.3059a4","group":"705e8c0d.9e5c64","order":0,"width":0,"height":0,"name":"","label":"Відмітка часу","format":"{{msg.payload.ts}}","layout":"row-spread","x":880,"y":900,"wires":[]},{"id":"d20a8a57.f450d8","type":"ui_text","z":"41d93bf2.3059a4","group":"705e8c0d.9e5c64","order":0,"width":0,"height":0,"name":"","label":"Стан тривог","format":"{{msg.payload.alm}}","layout":"row-spread","x":870,"y":940,"wires":[]},{"id":"b78bbf03.28959","type":"ui_gauge","z":"41d93bf2.3059a4","name":"","group":"705e8c0d.9e5c64","order":4,"width":0,"height":0,"gtype":"gage","title":"{{msg.payload.name}}","label":"units","format":"{{msg.payload.val | number:2}}","min":0,"max":"100","colors":["#ffe100","#9c9c96","#ca3838"],"seg1":"","seg2":"","x":860,"y":1000,"wires":[]},{"id":"a8dcf5f7.a3deb8","type":"change","z":"41d93bf2.3059a4","name":"","rules":[{"t":"set","p":"ui_control.min","pt":"msg","to":"payload.cfg.smin","tot":"msg"},{"t":"set","p":"ui_control.max","pt":"msg","to":"payload.cfg.smax","tot":"msg"},{"t":"set","p":"ui_control.seg1","pt":"msg","to":"payload.cfg.losp","tot":"msg"},{"t":"set","p":"ui_control.seg2","pt":"msg","to":"payload.cfg.hisp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":1000,"wires":[["b78bbf03.28959"]]},{"id":"c7774bb0.78a638","type":"ui_text_input","z":"41d93bf2.3059a4","name":"","label":"Немасшт мін ","tooltip":"","group":"66818d79.2d18e4","order":0,"width":"2","height":"1","passthru":false,"mode":"number","delay":"0","topic":"rmin","x":940,"y":1060,"wires":[["b8ddee51.8e7ea"]]},{"id":"eb07db09.6d9d78","type":"change","z":"41d93bf2.3059a4","name":"Конфіг тег","rules":[{"t":"set","p":"payload","pt":"msg","to":"$globalContext(\"RTDB.tags.\" & payload &\".cfg\")","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":1060,"wires":[["85704f52.7c238","6f634405.61f3cc","b263f34d.96de4","ff0dd444.1b0d68","a620b7d6.f74be8","fcb4a94b.371818","31ee8cd7.c38fe4","a19084d9.f3ff38","8b8708d.746cff8","7f26a2b6.982f0c","e46c5fd0.aca5f","ee5465c9.3e4af8","36398b0b.e42b74"]]},{"id":"85704f52.7c238","type":"change","z":"41d93bf2.3059a4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.rmin","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":1060,"wires":[["c7774bb0.78a638"]]},{"id":"a0c6219d.c23f9","type":"ui_text_input","z":"41d93bf2.3059a4","name":"","label":"Немасшт макс","group":"66818d79.2d18e4","order":0,"width":"2","height":"1","passthru":false,"mode":"number","delay":"0","topic":"rmax","x":940,"y":1100,"wires":[["b8ddee51.8e7ea"]]},{"id":"3560fc22.779f34","type":"ui_text_input","z":"41d93bf2.3059a4","name":"","label":"Масшт мін ","group":"66818d79.2d18e4","order":0,"width":"2","height":"1","passthru":false,"mode":"number","delay":"0","topic":"smin","x":930,"y":1140,"wires":[["b8ddee51.8e7ea"]]},{"id":"ddd81291.1f33d","type":"ui_text_input","z":"41d93bf2.3059a4","name":"","label":"Масшт макс","group":"66818d79.2d18e4","order":0,"width":"2","height":"1","passthru":false,"mode":"number","delay":"0","topic":"smax","x":930,"y":1180,"wires":[["b8ddee51.8e7ea"]]},{"id":"f0cea47e.94ce38","type":"ui_text_input","z":"41d93bf2.3059a4","name":"","label":"LoLo","group":"66818d79.2d18e4","order":0,"width":"2","height":"1","passthru":false,"mode":"number","delay":"0","topic":"lolosp","x":910,"y":1220,"wires":[["b8ddee51.8e7ea"]]},{"id":"789ed9fa.9febf8","type":"ui_text_input","z":"41d93bf2.3059a4","name":"","label":"Lo","group":"66818d79.2d18e4","order":0,"width":"2","height":"1","passthru":false,"mode":"number","delay":"0","topic":"losp","x":910,"y":1260,"wires":[["b8ddee51.8e7ea"]]},{"id":"16afc53e.e9494b","type":"ui_text_input","z":"41d93bf2.3059a4","name":"","label":"HI","group":"66818d79.2d18e4","order":0,"width":"2","height":"1","passthru":false,"mode":"number","delay":"0","topic":"hisp","x":910,"y":1300,"wires":[["b8ddee51.8e7ea"]]},{"id":"7ba41c2b.aecbc4","type":"ui_text_input","z":"41d93bf2.3059a4","name":"","label":"HIHi","group":"66818d79.2d18e4","order":0,"width":"2","height":"1","passthru":false,"mode":"number","delay":"0","topic":"hihisp","x":910,"y":1340,"wires":[["b8ddee51.8e7ea"]]},{"id":"6f634405.61f3cc","type":"change","z":"41d93bf2.3059a4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.rmax","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":1100,"wires":[["a0c6219d.c23f9"]]},{"id":"b263f34d.96de4","type":"change","z":"41d93bf2.3059a4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.smin","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":1140,"wires":[["3560fc22.779f34"]]},{"id":"ff0dd444.1b0d68","type":"change","z":"41d93bf2.3059a4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.smax","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":1180,"wires":[["ddd81291.1f33d"]]},{"id":"a620b7d6.f74be8","type":"change","z":"41d93bf2.3059a4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.lolosp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":1220,"wires":[["f0cea47e.94ce38"]]},{"id":"fcb4a94b.371818","type":"change","z":"41d93bf2.3059a4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.losp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":1260,"wires":[["789ed9fa.9febf8"]]},{"id":"31ee8cd7.c38fe4","type":"change","z":"41d93bf2.3059a4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.hisp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":1300,"wires":[["16afc53e.e9494b"]]},{"id":"a19084d9.f3ff38","type":"change","z":"41d93bf2.3059a4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.hihisp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":1340,"wires":[["7ba41c2b.aecbc4"]]},{"id":"b8ddee51.8e7ea","type":"function","z":"41d93bf2.3059a4","name":"write prop","func":"if (msg.topic != 'description') {\n    msg.topic = \"RTDB.tags.\" + flow.get(\"seltag\") + \".cfg.\" + msg.topic\n} else {\n    msg.topic = \"RTDB.tags.\" + flow.get(\"seltag\") + \".\" + msg.topic\n}\n\nglobal.set(msg.topic, msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1120,"y":1160,"wires":[["20923274.9e16ae"]]},{"id":"20923274.9e16ae","type":"debug","z":"41d93bf2.3059a4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1150,"y":1100,"wires":[]},{"id":"614ef3d.b0e970c","type":"change","z":"41d93bf2.3059a4","name":"Конфіг тег","rules":[{"t":"set","p":"payload","pt":"msg","to":"$globalContext(\"RTDB.tags.\" & payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":1380,"wires":[["cfd03bd2.de1b78"]]},{"id":"cfd03bd2.de1b78","type":"change","z":"41d93bf2.3059a4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.description","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":1380,"wires":[["eaa77246.dcdd8"]]},{"id":"eaa77246.dcdd8","type":"ui_text_input","z":"41d93bf2.3059a4","name":"","label":"Description","tooltip":"","group":"66818d79.2d18e4","order":0,"width":"4","height":"1","passthru":true,"mode":"text","delay":"0","topic":"description","x":930,"y":1380,"wires":[["b8ddee51.8e7ea"]]},{"id":"584d7d78.9418b4","type":"ui_switch","z":"41d93bf2.3059a4","name":"","label":"loloen","tooltip":"","group":"66818d79.2d18e4","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"loloen","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":910,"y":1460,"wires":[["b8ddee51.8e7ea"]]},{"id":"8b8708d.746cff8","type":"change","z":"41d93bf2.3059a4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.loloen","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":1460,"wires":[["584d7d78.9418b4"]]},{"id":"2c956af9.940986","type":"ui_switch","z":"41d93bf2.3059a4","name":"","label":"loen","tooltip":"","group":"66818d79.2d18e4","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"loen","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":910,"y":1500,"wires":[["b8ddee51.8e7ea"]]},{"id":"7f26a2b6.982f0c","type":"change","z":"41d93bf2.3059a4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.loen","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":1500,"wires":[["2c956af9.940986"]]},{"id":"73027241.f0251c","type":"ui_switch","z":"41d93bf2.3059a4","name":"","label":"hien","tooltip":"","group":"66818d79.2d18e4","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"hien","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":910,"y":1540,"wires":[["b8ddee51.8e7ea"]]},{"id":"e46c5fd0.aca5f","type":"change","z":"41d93bf2.3059a4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.hien","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":1540,"wires":[["73027241.f0251c"]]},{"id":"eeae70f3.917f6","type":"ui_switch","z":"41d93bf2.3059a4","name":"","label":"hihien","tooltip":"","group":"66818d79.2d18e4","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"hihien","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":910,"y":1580,"wires":[["b8ddee51.8e7ea"]]},{"id":"ee5465c9.3e4af8","type":"change","z":"41d93bf2.3059a4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.hihien","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":1580,"wires":[["eeae70f3.917f6"]]},{"id":"298c181c.24d4a8","type":"link in","z":"41d93bf2.3059a4","name":"","links":["afad1099.0ca0b"],"x":615,"y":320,"wires":[["bc5cf0ec.23af3"]]},{"id":"afad1099.0ca0b","type":"link out","z":"41d93bf2.3059a4","name":"","links":["298c181c.24d4a8"],"x":975,"y":1660,"wires":[]},{"id":"6d3d102.de619f","type":"ui_numeric","z":"41d93bf2.3059a4","name":"","label":"Введення сирого значення","tooltip":"","group":"66818d79.2d18e4","order":13,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":10,"step":"0.01","x":660,"y":1660,"wires":[["f07c1ab2.14a308"]]},{"id":"f07c1ab2.14a308","type":"function","z":"41d93bf2.3059a4","name":"","func":"msg.topic = flow.get(\"seltag\");\nglobal.set (\"RTDB.tags.\" + msg.topic + \".rval\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":880,"y":1660,"wires":[["afad1099.0ca0b"]]},{"id":"a30990ab.a9375","type":"function","z":"41d93bf2.3059a4","name":"","func":"const msg1 = {\"payload\": msg.payload.alm.lolo, \"topic\": \"LoLo\"};\nconst msg2 = {\"payload\": msg.payload.alm.lo, \"topic\": \"Lo\"};\nconst msg3 = {\"payload\": msg.payload.alm.hi, \"topic\": \"Hi\"};\nconst msg4 = {\"payload\": msg.payload.alm.hihi, \"topic\": \"HiHi\"};\nreturn [msg1, msg2, msg3, msg4];","outputs":4,"noerr":0,"initialize":"","finalize":"","x":1120,"y":800,"wires":[["27eab0b6.9ebbc","87c51e65.2427c"],["aba9d3ea.8ff19","87c51e65.2427c"],["ce88d485.c95ac8","87c51e65.2427c"],["692a2018.ad018","87c51e65.2427c"]]},{"id":"27eab0b6.9ebbc","type":"ui_switch","z":"41d93bf2.3059a4","name":"","label":"LOLO","tooltip":"","group":"967f6b01.aa4298","order":6,"width":"2","height":"1","passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"error","oncolor":"red","offvalue":"false","offvalueType":"bool","officon":"done","offcolor":"gray","x":1290,"y":740,"wires":[[]]},{"id":"aba9d3ea.8ff19","type":"ui_switch","z":"41d93bf2.3059a4","name":"","label":"LO","tooltip":"","group":"967f6b01.aa4298","order":6,"width":"2","height":"1","passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"error","oncolor":"red","offvalue":"false","offvalueType":"bool","officon":"done","offcolor":"gray","x":1290,"y":780,"wires":[[]]},{"id":"ce88d485.c95ac8","type":"ui_switch","z":"41d93bf2.3059a4","name":"","label":"HI","tooltip":"","group":"967f6b01.aa4298","order":6,"width":"2","height":"1","passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"error","oncolor":"red","offvalue":"false","offvalueType":"bool","officon":"done","offcolor":"gray","x":1290,"y":820,"wires":[[]]},{"id":"692a2018.ad018","type":"ui_switch","z":"41d93bf2.3059a4","name":"","label":"HIHI","tooltip":"","group":"967f6b01.aa4298","order":6,"width":"2","height":"1","passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"error","oncolor":"red","offvalue":"false","offvalueType":"bool","officon":"done","offcolor":"gray","x":1290,"y":860,"wires":[[]]},{"id":"dcba92f6.53b0b","type":"ui_toast","z":"41d93bf2.3059a4","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"Увага","name":"","x":1590,"y":920,"wires":[[]]},{"id":"87c51e65.2427c","type":"switch","z":"41d93bf2.3059a4","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":1,"x":1240,"y":920,"wires":[["469f023c.7aa75c"]]},{"id":"469f023c.7aa75c","type":"change","z":"41d93bf2.3059a4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$flowContext(\"seltag\") & \".\" & msg.topic","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1400,"y":920,"wires":[["a8bd20ac.0c713","dcba92f6.53b0b"]]},{"id":"567f54ba.3f464c","type":"ui_chart","z":"41d93bf2.3059a4","name":"","group":"2f06d7c0.c18c58","order":0,"width":"5","height":"5","label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1310,"y":1020,"wires":[[]]},{"id":"800ca25.a244a6","type":"change","z":"41d93bf2.3059a4","name":"","rules":[{"t":"set","p":"payloadto","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"[]","tot":"json"},{"t":"set","p":"payload[0].series[0]","pt":"msg","to":"payloadto.name","tot":"jsonata"},{"t":"set","p":"temp","pt":"msg","to":"payloadto.his","tot":"jsonata"},{"t":"set","p":"payload[0].data[0]","pt":"msg","to":"temp[*].{\"x\":ts, \"y\":val}","tot":"jsonata"},{"t":"set","p":"payload[0].labels[0]","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1140,"y":1020,"wires":[["567f54ba.3f464c"]]},{"id":"44240b5.779fdf4","type":"ui_date_picker","z":"41d93bf2.3059a4","name":"","label":"date","group":"9f9f0f18.7dc5f","order":4,"width":0,"height":0,"passthru":true,"topic":"","x":1090,"y":280,"wires":[["7ada7edd.6e802"]]},{"id":"99bffb2c.612f38","type":"ui_slider","z":"41d93bf2.3059a4","name":"","label":"slider","tooltip":"","group":"9f9f0f18.7dc5f","order":3,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":10,"step":1,"x":1090,"y":240,"wires":[["7ada7edd.6e802"]]},{"id":"29b2dd69.749d72","type":"ui_colour_picker","z":"41d93bf2.3059a4","name":"","label":"","group":"9f9f0f18.7dc5f","format":"hex","outformat":"string","showSwatch":true,"showPicker":false,"showValue":false,"showHue":false,"showAlpha":false,"showLightness":true,"square":"false","dynOutput":"false","order":4,"width":0,"height":0,"passthru":true,"topic":"","x":1070,"y":320,"wires":[["7ada7edd.6e802"]]},{"id":"6dc129bc.2aeeb8","type":"ui_form","z":"41d93bf2.3059a4","name":"","label":"","group":"9f9f0f18.7dc5f","order":5,"width":0,"height":0,"options":[{"label":"Test","value":"V1","type":"text","required":true,"rows":null}],"formValue":{"V1":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":1090,"y":360,"wires":[["7ada7edd.6e802"]]},{"id":"796ff07a.bedd2","type":"ui_chart","z":"41d93bf2.3059a4","name":"","group":"9f9f0f18.7dc5f","order":6,"width":0,"height":0,"label":"chart","chartType":"pie","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1090,"y":400,"wires":[[]]},{"id":"7ada7edd.6e802","type":"debug","z":"41d93bf2.3059a4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1270,"y":240,"wires":[]},{"id":"b988f84f.6a2bd8","type":"switch","z":"41d93bf2.3059a4","name":"","property":"parts.index","propertyType":"msg","rules":[{"t":"lte","v":"5","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":910,"y":400,"wires":[["796ff07a.bedd2"]]},{"id":"519588bf.5615b8","type":"comment","z":"41d93bf2.3059a4","name":"3.1","info":"","x":70,"y":40,"wires":[]},{"id":"2cd593da.6e872c","type":"modbustcp-read","z":"31f31a07.3773d6","name":"","topic":"","dataType":"HoldingRegister","adr":"0","quantity":"20","rate":"5","rateUnit":"s","server":"aec5d72d.26f398","ieeeType":"off","ieeeBE":true,"x":110,"y":200,"wires":[["72e69390.a7357c"]]},{"id":"9eb52d37.5b6e","type":"debug","z":"31f31a07.3773d6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1190,"y":280,"wires":[]},{"id":"36398b0b.e42b74","type":"change","z":"41d93bf2.3059a4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.radr","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":1420,"wires":[["9b713fd9.26798"]]},{"id":"9b713fd9.26798","type":"ui_text_input","z":"41d93bf2.3059a4","name":"","label":"radr","tooltip":"","group":"66818d79.2d18e4","order":0,"width":"4","height":"1","passthru":true,"mode":"text","delay":"0","topic":"radr","x":910,"y":1420,"wires":[["b8ddee51.8e7ea"]]},{"id":"1a5c2723.eb5789","type":"comment","z":"41d93bf2.3059a4","name":"3.5","info":"","x":570,"y":1420,"wires":[]},{"id":"6ddad5ba.5437bc","type":"comment","z":"41d93bf2.3059a4","name":"3.3","info":"","x":770,"y":280,"wires":[]},{"id":"f0716dcb.fdd7f","type":"comment","z":"31f31a07.3773d6","name":"3.2","info":"","x":510,"y":100,"wires":[]},{"id":"2b01d11f.2a97ee","type":"link out","z":"31f31a07.3773d6","name":"toTags","links":["641914ca.8fcf9c"],"x":1335,"y":200,"wires":[]},{"id":"641914ca.8fcf9c","type":"link in","z":"41d93bf2.3059a4","name":"fromMB_TCP","links":["2b01d11f.2a97ee"],"x":615,"y":360,"wires":[["bc5cf0ec.23af3"]]},{"id":"1339f711.3efed9","type":"comment","z":"31f31a07.3773d6","name":"3.6","info":"","x":750,"y":100,"wires":[]},{"id":"23f8394e.501626","type":"split","z":"31f31a07.3773d6","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":350,"y":140,"wires":[["b318eebf.09567"]]},{"id":"b318eebf.09567","type":"change","z":"31f31a07.3773d6","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"\"PLC1_HR\" & $string($number(settings.adr) + parts.index)","tot":"jsonata"},{"t":"set","p":"payload","pt":"msg","to":"{\"ts\": $now(), \"rval\": payload}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":140,"wires":[["29b9fc18.456154"]]},{"id":"29b9fc18.456154","type":"function","z":"31f31a07.3773d6","name":"","func":"global.set (\"RTDB.io.\" + msg.topic, msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":140,"wires":[["5caea069.485c6"]]},{"id":"5caea069.485c6","type":"change","z":"31f31a07.3773d6","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$globalContext(\"RTDB.io.\" & topic).rval","tot":"jsonata"},{"t":"set","p":"topic","pt":"msg","to":"$globalContext(\"RTDB.tags\").*[cfg.radr = $$.topic].name","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":140,"wires":[["42673f36.ca035"]]},{"id":"42673f36.ca035","type":"switch","z":"31f31a07.3773d6","name":"","property":"topic","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":990,"y":140,"wires":[["31b639f4.ae5d76"]]},{"id":"4a393d8d.d494d4","type":"function","z":"41d93bf2.3059a4","name":"simul","func":"let rval = [];\nfor (let i = 0; i < 20; i++) {\n    rval[i] = 0;\n}\nmsg.payload = rval;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":310,"y":360,"wires":[["77d8b37e.fce44c"]]},{"id":"77d8b37e.fce44c","type":"split","z":"41d93bf2.3059a4","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":435,"y":360,"wires":[["9efdeb49.b75df8"]],"l":false},{"id":"9efdeb49.b75df8","type":"change","z":"41d93bf2.3059a4","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"'var'&msg.parts.index","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":495,"y":360,"wires":[["bc5cf0ec.23af3","4b1a61a4.91a9a"]],"l":false},{"id":"e38eebb1.c26038","type":"inject","z":"41d93bf2.3059a4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":360,"wires":[["4a393d8d.d494d4"]]},{"id":"4b1a61a4.91a9a","type":"debug","z":"41d93bf2.3059a4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":470,"y":320,"wires":[]},{"id":"af05e854.b33088","type":"comment","z":"41d93bf2.3059a4","name":"auto tableTags","info":"","x":300,"y":320,"wires":[]},{"id":"e7564fb7.1637f","type":"function","z":"31f31a07.3773d6","name":"setRTDB.io","func":"const arr = msg.payload;\nlet io = {};\n\narr.forEach((item, i) => {\n    let index = \n    io[`PLC1_HR${i + Number(msg.settings.adr)}`] = {\n        \"ts\": Date(),\n        \"rval\": item\n    }\n});\n\nglobal.set(\"RTDB.io\",io);\n\ndelete msg.settings;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":200,"wires":[["4054c0a9.17d0c"]]},{"id":"4054c0a9.17d0c","type":"function","z":"31f31a07.3773d6","name":"copyingFromIOtoTags","func":"const rtdb = global.get(\"RTDB\");\n\nmsg.payload = [];\nmsg.topic = [];\n\nlet i = 0;\nfor (let nameTag in rtdb[\"tags\"]) {\n    let radr = rtdb.tags[nameTag].cfg.radr;\n    for (let adr in rtdb[\"io\"]) {\n        if (radr == adr) {\n            msg.payload[i] = rtdb.io[adr].rval;\n            msg.topic[i] = nameTag;\n        }\n    }\n    i++;\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":200,"wires":[["e69dc669.b42f78"]]},{"id":"2a841751.89a4e8","type":"switch","z":"41d93bf2.3059a4","name":"","property":"smon","propertyType":"flow","rules":[{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":950,"y":740,"wires":[["a30990ab.a9375"]]},{"id":"31b639f4.ae5d76","type":"function","z":"31f31a07.3773d6","name":"","func":"if (typeof(msg.topic) == \"object\") {\n    let topic = msg.topic;\n    topic.forEach(item => {\n        msg.topic = item;\n        node.send(msg);\n    });\n}else {\n    return msg;\n}\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1120,"y":140,"wires":[[]]},{"id":"72e69390.a7357c","type":"change","z":"31f31a07.3773d6","name":"","rules":[{"t":"set","p":"t1","pt":"msg","to":"$now()","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":270,"y":200,"wires":[["e7564fb7.1637f"]]},{"id":"10da2671.e03b1a","type":"change","z":"31f31a07.3773d6","name":"","rules":[{"t":"set","p":"t2","pt":"msg","to":"$now()","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1210,"y":200,"wires":[["9eb52d37.5b6e","2b01d11f.2a97ee"]]},{"id":"e69dc669.b42f78","type":"function","z":"31f31a07.3773d6","name":"splitMsg","func":"const arrTopic = msg.topic,\n    arrPayload = msg.payload;\n    \narrTopic.forEach((item, i) => {\n   if (item) {\n       msg.payload = arrPayload[i];\n       msg.topic = item;\n       node.send(msg);\n   }\n});\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":900,"y":200,"wires":[["10da2671.e03b1a"]]}]